In [1]:
import pandas as pd
df_raw = pd.read_csv("netflix.csv")
df_raw

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

### Summary of the DataSet

In [4]:
df_raw.shape

(8807, 12)

In [2]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

### No. of Null Values

In [3]:
df_raw.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

 So columns containing null values are,
 * director
 * cast
 * country
 * date_added
 * rating
 * duration

In [14]:
df_raw['type'].value_counts()

Movie      6131
TV Show    2676
Name: type, dtype: int64

So, the dataset contains two types of products. Movies and Tv Shows.

Let's analyze different genres first

In [6]:
df_genre = df_raw[['show_id','type','country', 'release_year', 'duration', 'listed_in']]
df_genre.head()

,show_id,type,country,release_year,duration,listed_in
0,s1,Movie,United States,2020,90 min,Documentaries
1,s2,TV Show,South Africa,2021,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries"
2,s3,TV Show,NaN,2021,1 Season,"Crime TV Shows, International TV Shows, TV Act..."
3,s4,TV Show,NaN,2021,1 Season,"Docuseries, Reality TV"
4,s5,TV Show,India,2021,2 Seasons,"International TV Shows, Romantic TV Shows, TV ..."

In [9]:
df_genre['listed_in'].sample(50)

1399                           Dramas, Independent Movies
2016                         Dramas, International Movies
8490                    International TV Shows, TV Dramas
8529                 Comedies, Dramas, Independent Movies
5855                                             Kids' TV
5704                                      Stand-Up Comedy
6953         TV Horror, TV Mysteries, TV Sci-Fi & Fantasy
2947                Crime TV Shows, TV Action & Adventure
3462    International TV Shows, Korean TV Shows, Roman...
5105                    International TV Shows, TV Dramas
8112              Dramas, International Movies, Thrillers
4349                         Dramas, International Movies
619                          Dramas, International Movies
5646                                      Stand-Up Comedy
4908         International TV Shows, TV Dramas, TV Horror
7326     Action & Adventure, Comedies, Independent Movies
8325                                             Comedies
7197                                   Action & Adventure
7211                                               Dramas
1510                                             Comedies
7214    International TV Shows, Romantic TV Shows, TV ...
574                    Children & Family Movies, Comedies
2815      Comedies, International Movies, Romantic Movies
3043                           Dramas, Independent Movies
4542            British TV Shows, Docuseries, TV Comedies
8084     Dramas, Independent Movies, International Movies
5011                       Comedies, International Movies
7315                           Dramas, Independent Movies
404                                         Documentaries
3955     Dramas, Independent Movies, International Movies
4724                         Dramas, International Movies
4374                  Horror Movies, International Movies
6307                                        Documentaries
5055                  Documentaries, International Movies
914                                         Documentaries
6129               Comedies, Dramas, International Movies
5945                                               Dramas
3449             British TV Shows, Kids' TV, TV Thrillers
891     Independent Movies, International Movies, Thri...
4708              Dramas, International Movies, Thrillers
191                            Dramas, Independent Movies
1289    Documentaries, International Movies, Music & M...
4879                                             Kids' TV
8384         Horror Movies, Independent Movies, Thrillers
7861                         Dramas, International Movies
7965    Documentaries, International Movies, Music & M...
3049                      Docuseries, Science & Nature TV
2674               Comedies, Dramas, International Movies
8534            Dramas, Independent Movies, Sports Movies
1734                            Comedies, Romantic Movies
Name: listed_in, dtype: object

In [ ]:
genre_lst = ['Action','Anime','Dramas','Comedies','Sci-Fi','Crime','Thrillers','Reality Show','Documentaries','Docuseries','Kids','Children','Family','Horror','Romantic']

In [17]:
genre_lst = df_genre['listed_in'].apply(lambda x: str(x).split(", ")).tolist()
genre_lst.head()

0                                      [Documentaries]
1    [International TV Shows, TV Dramas, TV Mysteries]
2    [Crime TV Shows, International TV Shows, TV Ac...
3                             [Docuseries, Reality TV]
4    [International TV Shows, Romantic TV Shows, TV...
Name: listed_in, dtype: object

In [18]:
df_genre_new = pd.DataFrame(genre_lst,index = df_genre['show_id'])
df_genre_new

        listed_in
show_id
s1            NaN
s2            NaN
s3            NaN
s4            NaN
s5            NaN
...           ...
s8803         NaN
s8804         NaN
s8805         NaN
s8806         NaN
s8807         NaN

[8807 rows x 1 columns]